<%- include('../layouts/adminheader.ejs') %>

  <div class="container-scroller">

    <%- include('../layouts/adminsidebar.ejs') %>

    <div class="container-fluid page-body-wrapper">

        <%- include('../layouts/adminnavbar.ejs') %>

        <div class="main-panel">

            <div class="content-wrapper" >

                <div class="container-fluid " id="reloadDiv">

                    <div class="container-fluid">

                        <div >

                            <button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#myModal">
                                Add Offer
                              </button>

                         </div>

                         <!-- Modal -->

                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                            <div class="modal-dialog" role="document">

                                <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="exampleModalLabel">Add Offer</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                    <span aria-hidden="true">&times;</span>

                                    </button>

                                </div>

                                <div class="modal-body">

                                    <form id="offerForm" action="/admin/addOffer" method="post">

                                    <div class="form-group">

                                        <label for="offerName">Offer Name:</label>
                                        <input type="text" class="form-control" id="offername" name="offname">
                                        <p id="nameer" class="text-danger "></p>
                                    </div>

                                    <div class="form-group">

                                        <label for="selectionField">Selection Field:</label>

                                        <select class="form-control" id="selectionField" name="category">

                                        <!-- Options for selection field -->

                                        <% category.forEach(val =>{%>

                                        <option class="text-white"><%= val.name %></option>

                                       <% } )%>

                                        </select>

                                    </div>


                                    <div class="form-group">

                                        <label for="offer">Offer:</label>
                                        <input type="number" min="1" class="form-control" id="offer" max="70" name="offer"></input>
                                        <p id="numer" class="text-danger "></p>

                                    </div>

                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" id="bt">Submit</button>

                                    </div>

                                    </form>

                                </div>

                                </div>

                            </div>

                            </div>

                            <!--modal end-->

                            <!-- <div class="text-center  ">

                                <h6 class="text-success">OFFER PRODUCTS</h6>

                            </div> -->

                    </div>

                <table  class="table  w-100 mt-4 table table-active table-dark  rounded-2 " style="border-radius: 10px;">

                    <thead class="text-center ">

                        <tr>
                            <th class="text-white">No</th>
                            <th class="text-white">Offer Name</th>
                            <th class="text-white">Offer Price</th>
                            <th class="text-white">Action</th>
                        </tr>

                    </thead>

                    <tbody class="text-center ">

                        <% if(offer.length > 0) {%>

                                <% offer.slice().reverse().forEach((val , indx) => { %>

                                    <tr>

                                        <td><%= indx + 1 %></td>

                                        <td class="">

                                            <p class="pt-2">

                                                <%= val.name %>

                                            </p>
                                            
                                        </td>

                                        <td>
                                            <%= val.offer %> %
                                        </td>

                                        <td>

                                            <button class="btn btn-outline-danger" onclick="offerRemove('<%= val._id %>')">
                                                Remove
                                            </button>

                                        </td>

                                    </tr>
                                    
                            <%  }); %>

                        <% }else{ %>

                            <td colspan="6" class="text-center  text-danger ">

                                <p>No Offer</p>

                            </td>

                        <% } %>

                    </tbody>

                </table>
            
            </div>

            </div>

        </div>



        
    </div>

      
  </div> <!--End container scroller-->

  <script>

const form = document.getElementById('offerForm');
const namer = document.getElementById('nameer');
const num = document.getElementById('numer');

form.addEventListener('submit', function(event) {

    const offer = document.getElementById('offer').value
    const offername = document.getElementById('offername').value

    num.textContent = ''
    namer.textContent = ''

    if (isNaN(offer) || offer.trim() === '') {

        event.preventDefault(); 
        num.textContent = 'Offer should be a valid number.';

    }

    if (offername.trim().length < 4 || !/^[a-zA-Z\s]+$/.test(offername)) {
        event.preventDefault(); 
        namer.textContent = 'minimum 4 character';
    }


});

//  Offer Remove (put) :-

function offerRemove(id){

    fetch(`/admin/offerRemove?id=${id}` , {method : 'put'})

    .then(res => res.json())

    .then(data => {

        if(data.succ){

            const Toast = Swal.mixin({

                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,

                didOpen: (toast) => {

                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;

                }

            });

            Toast.fire({

                icon: "success",
                title: "Deleted Successfully"
                
            });
            window.location.reload()

        } else {

            console.log("Illattoo");
                        
        }

    })

}





  </script>
  <%- include('../layouts/adminfooter.ejs') %>