<%- include('../layouts/header.ejs') %>

<div class="page-wrapper">
	
	<%- include('../layouts/navbar-2.ejs') %>

     <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/urban/allProducts.jpeg')">
        		<div class="container">
        			<h1 class="page-title text-white ">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">Shop</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

<!--Modal Choose Address-->

<div class="modal fade" id="c" tabindex="-1" aria-labelledby="changeAddressModal" aria-hidden="true">

	<div class="modal-dialog">

	<div class="modal-content">

		<div class="modal-header">
			<h3 class="modal-title fs-5" id="changeAddressModal">Choose Address</h3>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>

			<%=msg %>
		<div class="modal-body">
			
			<div class="row">
				
				<% for (let i = 0; i < falseAddress?.addresss?.length; i++) { %>
					
					<% if (falseAddress?.addresss[i]?.states == false) { %>
																																																																	   
						<div class="col-lg-5" style="margin: auto;">

							<div class="card card-dashboard mt-2 style" style="width: 100;box-shadow:1px 1px 4px 0px#888888;" onclick="addressChoose('<%=falseAddress.addresss[i]._id %>')" >
											
								<div class="card-body" style="cursor: pointer;">

										<!-- <input type="checkbox" class="card-checkbox"> -->

										<!-- <button type="button" class="close" aria-label="Close"  style="font-size: 23px;padding-bottom: 20px;" onclick="deleteAdd('
											<span aria-hidden="true">&times;</span>
										</button> -->

										<!-- <span style="cursor: pointer; display: flex; justify-content: end;" data-bs-toggle="modal" data-bs-target="#changeAddressModal">Change</span> -->

										<h3 class="card-title">Address</h3><!-- End .card-title -->

										<p><span style="font-size: 1vw;"><%= falseAddress.addresss[i].userName %></span></p>
										<p><span><%= falseAddress.addresss[i].name %></span>,
										<span><%= falseAddress.addresss[i].city %>,</span>
										<span><%= falseAddress.addresss[i].state %>,</span>
										<span><%= falseAddress.addresss[i].pincode %> </span>
										<br>
										<span>Phone: <%= falseAddress.addresss[i].phone %> </span>
									</p>


								</div><!-- End .card-body -->

							</div><!-- End .card-dashboard -->

						</div><!-- End .col-lg-6 -->

					<%	} else if(falseAddress.addresss.length <= 1) { %>

						<div class="p-3">

							<p class="text-center ">Add Another Address To Change <a href="/address">Click Here</a></p>

						</div>

					<% } %>

				<% } %>
					
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>

			</div>

		</div>
		
	</div>
	
</div>



            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
						
						<% if (!locals.userAddress || locals.userAddress.addresss.length == 0) { %>

							<div class="row">
								<div class="col-lg-8">
									<div class="checkout-discount">
										<form action="#">
											<input type="text" class="form-control" required id="checkout-discount-input"> 
											<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
										</form>

									</div><!-- End .checkout-discount -->
									<div class=" d-flex justify-content-end">
										<button type="submit" class="btn btn-outline-primary-2 " data-bs-toggle="modal" data-bs-target="#c" >Choose Addres</button>
					
									</div>

					
			
									
								</div>
								<div class="col-lg-3">
									<form action="/placeOrder" id="myform" method="post">

									<div class="summary">
									
										<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
	
										<table class="table table-summary">
											<thead>
												<tr>
													<th>Product</th>
													<th>Total</th>
												</tr>
											</thead>
	
											<tbody>
												<tr>
													<td><a href="#">Beige knitted elastic runner shoes</a></td>
													<td>$84.00</td>
												</tr>
	
												<tr>
													<td><a href="#">Blue utility pinafore denimdress</a></td>
													<td>$76,00</td>
												</tr>
												<tr class="summary-subtotal">
													<td>Subtotal:</td>
													<td>$<%=totalPrice %></td>
												</tr><!-- End .summary-subtotal -->
												<tr>
													<td>Shipping:</td>
													<td>Free shipping</td>
												</tr>
												<tr class="summary-total">
													<td>Total:</td>
													<td>$<%=totalPrice %></td>
												</tr><!-- End .summary-total -->
											</tbody>
										</table><!-- End .table table-summary -->
	
										
	
	
									
	
											<div class="accordion-summary" id="accordion-payment">
	
												<!-- <div class="card">
													<div class="card-header" id="heading-1">
														<h2 class="card-title">
															<a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
																Direct bank transfer
															</a>
														</h2>
													</div>End .card-header
													<div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
														<div class="card-body">
															Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
														</div>End .card-body
													</div>End .collapse
												</div>End .card -->
	
												<!-- <div class="card">
													<div class="card-header" id="heading-2">
														<h2 class="card-title">
															<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
																Check payments
															</a>
														</h2>
													</div>End .card-header
													<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
														<div class="card-body">
															Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
														</div>End .card-body
													</div>End .collapse
												</div>End .card -->
	
												<div class="card pb-2">
													<div class="card-header" id="heading-3">
														<h2 class="card-title">
															<input type="radio" name="payment_method" value="Cash on delivery" class="bg-primary" >
															<label for="">Cash on delivery</label>

														</h2>
													</div><!-- End .card-header -->
													<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
														<div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
														</div><!-- End .card-body -->
													</div><!-- End .collapse -->
												</div><!-- End .card -->
	
												<% if(totalPrice===0) {%>
													<button type="submit"  class="btn btn-outline-primary-2 btn-order btn-block" >
														<span class="btn-text">Add product</span>
														<span class="btn-hover-text"> Add product </span>
													</button>
													<% }else{ %>
	
												<button type="submit" onclick="placeOrder('<%= JSON.stringify.addresss%>','<%=totalPrice%>')" class="btn btn-outline-primary-2 btn-order btn-block" >
													<span class="btn-text">Place Order</span>
													<span class="btn-hover-text"> Proceed to Checkout </span>
												</button>
												<p  id="dd" class="text-danger"></p>

												<% } %>

									
									
	
											</div>
										</div>
								</form>		
										</div>


							</div>		
	

					<% }else{ %>
						<div class="row">
							<% if(locals.coupondis==0){ %>
								<div class="cart-discount">
									<form action="/useCopoun" method="post">
										<div class="input-group">
																	<input type="text" class="form-control" name="coupen" oninput="coupenCheck(this)" placeholder="coupon code" required>
																<div class="input-group-append">
																	<button class="btn btn-outline-primary-2 mb-2 " id="btn" type="submit"><i class="icon-long-arrow-right"></i></button>
																</div>	<!-- .End .input-group-append -->
															</div><!-- End .input-group -->
									</form>
								</div>	<!-- End .cart-discount -->
							<% }else{ %>


								<div class="cart-discount">
									<form action="/useCopoun" method="post">
										<div class="input-group">
																<input type="text" class="form-control" name="coupen"  placeholder="coupon code" disabled>
																<div class="input-group-append">
																	<button class="btn btn-outline-danger mb-2" style="padding: 8px;" onclick="removeCoupen()" id="btn" type="submit">Remove</button>
																</div>	<!-- .End .input-group-append -->
															</div><!-- End .input-group -->
									</form>
								</div>	<!-- End .cart-discount -->


								
								<% } %>

				<% for (let i = 0; i < userAddress.addresss.length; i++) { %>
					<% if(userAddress.addresss[i].states == true) {%>

						<div class="col-lg-5"> 
						   
							 <div class="card card-dashboard">
						   
										   
								<div class="card-body">
									 <input type="checkbox" class="card-checkbox">
											   
										<h3 class="card-title">Address</h3>
						   
											   <p><%= userAddress.addresss[i].userName %><br>
											   <%= userAddress.addresss[i].name %><br>
											   <%= userAddress.addresss[i].city%><br>
											   <%= userAddress.addresss[i].state %><br>
											   <%= userAddress.addresss[i].pincode %><br>
											   <%= userAddress.addresss[i].phone %><br>
											   
										 <span style="cursor: pointer ;color: rgb(207, 149, 77); display: flex; justify-content: end;" data-bs-toggle="modal" data-bs-target="#c">Change</span>
										    <!-- edit modal --> 
																		  
								</div><!-- End .card-body -->
						   
							</div><!-- End .card-dashboard -->
						   
						</div>
						
						
					<% }%>									
			 <% } %>

			 
			 <div class="col-lg-3">
				 <form action="/placeOrder" id="myform" method="post">
				 <div class="summary">
					 <% if(locals.em) {%>
			 
						 <%=msg %>
							 <% } %>
					 
					 <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
			 
					 <table class="table table-summary">
						<thead>
							<tr>
								<th>Product</th>
								<th>Total</th>
							</tr>
						</thead>

						<tbody>
								<% cart?.product?.forEach((product, index)=> { %>

									<tr>

										<td><a href="#">

											<%= product.productId.name %>

											</a></td>

										<td>$<%= product.productId.price %>.00</td>
										
									</tr>

								<% }) %>

										<tr class="summary-subtotal">

											<td>Subtotal:</td>

										<% if (cart.coupenDiscount >= 1) { %>

											<td>$<%= cart?.TotalPrice + cart.coupenDiscount %></td>
												
										<%	} else { %>

											<td>$<%= cart?.TotalPrice %>.00</td>
										
										<% } %>

										</tr><!-- End .summary-subtotal -->

									<% if (cart.coupenDiscount >= 1) { %>

										<tr>
											<td>Coupen Offer:</td>

											<td class="text-success">- $<%= cart.coupenDiscount %>.00</td>

										</tr>
											
									<%	} %>

										<tr class="summary-total">

											<td>Total:</td>
																												
											<td>$<%= cart?.TotalPrice %>.00</td>

										</tr><!-- End .summary-total -->
										
							</tbody>
					
					</table><!-- End .table table-summary -->

					 
						 <div class="accordion-summary" id="accordion-payment">
			 
							 <!-- <div class="card">
								 <div class="card-header" id="heading-1">
									 <h2 class="card-title">
										 <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
											 Direct bank transfer
										 </a>
									 </h2>
								 </div>End .card-header
								 <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
									 <div class="card-body">
										 Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
									 </div>End .card-body
								 </div>End .collapse
							 </div>End .card -->
			 
							 <!-- <div class="card">
								 <div class="card-header" id="heading-2">
									 <h2 class="card-title">
										 <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
											 Check payments
										 </a>
									 </h2>
								 </div>End .card-header
								 <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
									 <div class="card-body">
										 Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
									 </div>End .card-body
								 </div>End .collapse
							 </div>End .card -->
			 
			 
							 <% if (!locals.walletData || totalPrice >= locals.walletData?.balance || locals.walletData?.balance == 0 ) { %>
																	 
								 <div class="card-header" id="heading-1">
			 
									 <h2 class="card-title">
			 
										 <input type="radio" name="peyment" id="wallet"
			 
											 value="wallet" disabled class="bg-primary opacity-50 " >
			 
										 <label for="wallet" class="" style="text-decoration:line-through;">wallet</label>
			 
									 </h2>
			 
								 </div>
			 
							 <%	} else { %>
			 
								  <div class="card-header" id="heading-1">
			 
									 <h2 class="card-title">
			 
										 <input type="radio" name="peyment" id="wallet" value="wallet" class="bg-primary">
			 
										 <label for="wallet">wallet</label>
			 
									 </h2>
			 
								 </div>
									 
							 <% } %>
			 
			 				<% if(locals.totalPrice<=1000) {%>
							 <div class="card pb-2">
								 <div class="card-header" id="heading-3">
									 <h2 class="card-title">
										 <input type="radio" name="payment" value="Cash on delivery" class="bg-primary" >
										 <label for="">Cash on delivery</label>
			 
									 </h2>
								 </div><!-- End .card-header -->
								 <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
									 <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
									 </div><!-- End .card-body -->
								 </div><!-- End .collapse -->
							 </div><!-- End .card -->

							 <% }else{ %>
								<div class="card-header" id="heading-3">
									<h2 class="card-title">
										<input type="radio" name="peyment" value="Cash on Delivery" disabled class="bg-primary opacity-50">	
												<label for="" style="text-decoration:line-through;">Cash on Delivery</label>
			
									</h2>
								</div><!-- End .card-header -->

								<% } %>
			 
							 <div class="card pb-2">
								 <div class="card-header" id="heading-3">
									 <h2 class="card-title">
										 <input type="radio" name="payment" value="Online Payment" class="bg-primary" >
										 <label for="">Online Payment</label>
			 
									 </h2>
								 </div><!-- End .card-header -->
								 <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
									 <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
									 </div><!-- End .card-body -->
								 </div><!-- End .collapse -->
							 </div><!-- End .card -->
			 
			 
							 <% if(totalPrice===0) {%>
								 <button type="submit"  class="btn btn-outline-primary-2 btn-order btn-block" >
									 <span class="btn-text"> <a href="/product">Add product</a></span>
									 <span class="btn-hover-text"> <a href="/product">Add product </a> </span>
								 </button>
								 <% }else{ %>
			 
							 <button type="button" onclick="placeOrder('<%= userAddress.userId%>','<%= totalPrice%>')" class="btn btn-outline-primary-2 btn-order btn-block" >
								 <span class="btn-text">Place Order</span>
								 <span class="btn-hover-text"> Proceed to Checkout </span>
							 </button>
							 <p  id="dd" class="text-danger"></p>
							 <% } %>
				 
			 
						 </div>
			 
					 </div>
				 </form>
			 </div>
			 
			</div>
			
		</div>		
		<% } %>
		
		<div class="row">
			<b hidden id="sweet"></b>
<!-- 
										    <div class="card">
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										                    PayPal <small class="float-right paypal-link">What is PayPal?</small>
										                </a>
										            </h2>
										        </div>End .card-header
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										            <div class="card-body">
										                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
										            </div>End .card-body
										        </div>End .collapse
										    </div>End .card -->

										    <!-- <div class="card">
										        <div class="card-header" id="heading-5">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
										                    Credit Card (Stripe)
										                    <img src="assets/images/payments-summary.png" alt="payments cards">
										                </a>
										            </h2>
										        </div>End .card-header
										        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
										            <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
										            </div>End .card-body
										        </div>End .collapse
										    </div>End .card
										</div>End .accordion -->

		                				
		                			</div><!-- End .summary -->
									</div><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

	<!-- Connect Footer -->
		<%- include('../layouts/footbar-2') %>
		<!-- Connect Footer -->
     
	</div><!-- End .page-wrapper -->


    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

		<!--Connect Mobaile View-->
        <%- include('../layouts/mobileView.ejs') %>
		<!--Connect Mobaile View-->

		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>


	<script>
function addressChoose(id){
	console.log('heey',id)
	fetch(`/chooseAddress?id=${id}`,{method:'put'})
	.then(data=>{
		if(data==true){
			window.location.reload()

		}else{
			window.location.reload()
		}
	})
}
	</script>



<script>

function placeOrder(userId,amount){

	const mssg=document.getElementById('dd')
	const sweet=document.getElementById('sweet')
	const Radio = document.querySelector('input[name="payment"]:checked');
	const myform=document.getElementById('myform')
	
	if(Radio){
		
if(Radio.value == 'Online Payment'){
console.log('heey')
razorPay(userId, amount)

}else{
	mssg.textContent=''
	console.log('erru')

	myform.submit()

}

	}else{
		mssg.textContent='Select a payment method'

	}


}

//	RazorPay :-

function razorPay(userId, amount) {

const form = document.getElementById('myform');

	fetch('/razorPay', {

		method: 'POST',
		headers: { 'Content-type': 'application/json' },

		body: JSON.stringify({ amount, userId })

	}).then(res => res.json()).then(data => {

		if (data.succes) {

			let options = {

				"key": `${data.key_id}`,
				"amount": `${data.amount}`,
				"currency": "INR",
				"name": "MYTHRIFT",
				"order_id": `${data.order_id}`,

				"handler": function (response) {

					form.submit();
									
				},

					"profile": {

					"name": `${data.name}`,
					"email": `${data.email}`
				}
			}

			let razorpayObject = new Razorpay(options);

			//	Payment Failed Area :- 

			razorpayObject.on('payment.failed', (response) => {		

			   form.action = '/failedRazorpay'
			   form.submit()

			});

			razorpayObject.open();

		} else if(data.emptyCart){

			Swal.fire({

				icon: "error",
				title: "Oops...",
				text: "Your Cart Is Empty!",
				footer: '<a href="/product">Why do I have this issue?</a>'

			});


		} else if(data.noAddress){

			Swal.fire({

				icon: "error",
				title: "Oops...",
				text: "Please Add Address!",
				footer: '<a href="/checkout">Why do I have this issue?</a>'

			});

		}
	})

}




function coupenCheck(val){

const msg = document.getElementById('msgg')
const btn = document.getElementById('btn')

fetch(`/coupenCehck` , {method : 'post' , headers : {'Content-Type' : 'application/json'} , body : JSON.stringify({inpVal : val.value})})

.then(res => res.json())

.then(data => {

	console.log(data);

	if(data.succ){

		msg.textContent = 'Valid Coupen'
		msg.classList.remove('text-danger')
		msg.classList.add('text-success')
		btn.disabled = false

	} else if(data.fail) {

		msg.textContent = 'Invalid Coupen'
		msg.classList.remove('text-success')
		msg.classList.add('text-danger')
		btn.disabled = true

	}

})

}




function removeCoupen(){

fetch(`/removeCop` , {method : 'put'})

.then(res => res.json())

.then(data => {

	if(data.succ){

		window.location.reload()

	}

})

}





</script>
<%- include('../layouts/footer') %>



<script>

if(sweet.textContent=='please add address'){
    Swal.fire({
  icon: "warning",
  title: "Oops...",
  text: "Add your Address..",
  footer: '<a href="/checkout">Why do I have this issue?</a>'
	});
}else if(sweet.textContent=='Noo cart'){
Swal.fire({
  icon: "warning",
  title: "Oops...",
  text: "Your Cart is empty",
  footer: '<a href="/products">Why do I have this issue?</a>'                                                                                                                                                           
});
}else if(sweet.textContent=='low stoke'){
Swal.fire({
  icon: "warning",
  title: "limit exceed",
  text: "Your product stock limit is exceed",
  footer: '<a href="/cart">Fix  this issue?</a>'                                                                                                                                                           
});
}
</script>