<%- include('../layouts/header.ejs') %>

	<div class="page-wrapper">

		<%- include('../layouts/navbar-2.ejs') %>

			<main class="main">
				<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
					<div class="container">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
							<li class="breadcrumb-item active" aria-current="page">Login</li>
						</ol>
					</div><!-- End .container -->
				</nav><!-- End .breadcrumb-nav -->

				<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
					style="background-image: url('assets/images/mythrift/show.jpg')">
					<div class="container">
						<div class="form-box">
							<div class="form-tab">
								<ul class="nav nav-pills nav-fill" role="tablist">
									<li class="nav-item">
										<a class="nav-link active " id="signin-tab-2" data-toggle="tab" href="#signin-2"
											role="tab" aria-controls="signin-2" aria-selected="false">Login</a>
									</li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane show active" id="signin-2" role="tabpanel"
										aria-labelledby="signin-tab-2">

										<form action="/login" method="post">

											<div class="text-center ">
												<p class="text-danger ">
													<% if(locals.em) {%>

														<%= em %>

															<% } %>
												</p>
											</div>

											<div class="text-center ">
												<p class="text-danger ">
													<% if(locals.pass) {%>

														<%= pass %>

															<% } %>
												</p>
											</div>

											<div class="form-group">
												<label for="singin-email-2">Username or email address *</label>
												<input type="text" class="form-control" id="singin-email-2" name="email"
													>
													<p class="text-danger" id="email-error"></p>
											</div><!-- End .form-group -->

											<div class="form-group">
												<label for="singin-password-2">Password *</label>
												<input type="password" class="form-control" id="singin-password-2"
													name="password" >
													<p class="text-danger" id="password-error"></p>
											</div><!-- End .form-group -->

											<div class="form-footer">
												<button type="submit" class="btn btn-outline-primary-2" onclick="validateForm()">
													<span>LOGIN</span>
													<i class="icon-long-arrow-right"></i>
												</button>

												<!-- <div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="signin-remember-2">
												<label class="custom-control-label" for="signin-remember-2">Remember Me</label>
											</div>End .custom-checkbox -->

												<a href="/forgotPass?" class="forgot-link">Forgot Your Password?</a>

											</div><!-- End .form-footer -->

										</form>

										<div class="text-center pb-1">

											<a href="/signup" class="text-success ">Don't have an account?</a>

										</div>

										<div class="form-choice">

											<p class="text-center">or sign in with</p>
											<div class="row">
												<div class="col-sm-6">
													<a href="#" class="btn btn-login btn-g">
														<i class="icon-google"></i>
														Login With Google
													</a>
												</div><!-- End .col-6 -->
												<div class="col-sm-6">
													<a href="#" class="btn btn-login btn-f">
														<i class="icon-facebook-f"></i>
														Login With Facebook
													</a>
												</div><!-- End .col-6 -->
											</div><!-- End .row -->
										</div><!-- End .form-choice -->
									</div><!-- .End .tab-pane -->
								</div><!-- End .tab-content -->
							</div><!-- End .form-tab -->
						</div><!-- End .form-box -->
					</div><!-- End .container -->
				</div><!-- End .login-page section-bg -->
			</main><!-- End .main -->

			<!-- Connect Footer -->
			<%- include('../layouts/footbar-2') %>
				<!-- Connect Footer -->

	</div><!-- End .page-wrapper -->

	<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

	<!--Connect Mobaile View-->
	<%- include('../layouts/mobileView.ejs') %>
		<!--Connect Mobaile View-->

		<!-- Plugins JS File -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<script src="assets/js/jquery.hoverIntent.min.js"></script>
		<script src="assets/js/jquery.waypoints.min.js"></script>
		<script src="assets/js/superfish.min.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<!-- Main JS File -->
		<script src="assets/js/main.js"></script>

		<script>




		// 	function validateForm() {

		// 		var email = document.getElementById("singin-email-2").value;
		// 		var password = document.getElementById("singin-password-2").value;
		// 		var valid = true;

		// 		var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

		// 		if (email.trim() === "") {

		// 			document.getElementById("email-error").innerText = "Email field is empty";
		// 			valid = false;

		// 		} else if (!emailRegex.test(email)) {

		// 			document.getElementById("email-error").innerText = "Invalid email format";
		// 			valid = false;

		// 		} else {

		// 			document.getElementById("email-error").innerText = "";

		// 			document.getElementById("password-group").style.display = "block";
		// 			document.getElementById("login-btn").innerText = "CONTINUE";
		// 		}

		// 		if (password.trim() === "") {

		// 			document.getElementById("password-error").innerText = "Password field is empty";
		// 			valid = false;

		// 		} else {

		// 			document.getElementById("password-error").innerText = "";
		// 		}

		// 		return valid;
		// 	}
		// </script>

		<%- include('../layouts/footer') %>