<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<%- include('../layouts/header') %>

<div class="page-wrapper">	    
    
    <%- include('../layouts/navbar-2.ejs') %>



<main class="main">

    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Profile</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wallet</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

     <div class="page-content">

        <div class="dashboard">
    
            <div class="container">

                <div class="row">

                    <aside class="col-md-4 col-lg-3">

                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link" id="tab-dashboard-link" href="/profile">My Profile</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" href="/orders" role="tab">Orders</a>
                            </li>

                            <!-- <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link"  href="#" role="tab" >Wishlist</a>
                            </li> -->

                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" href="/address">Adresses</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" id="tab-wallet-link" href="/wallet" >Wallet</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="tab-coupons-link" href="/coupen"  >Coupons</a>
                            </li>
                            
                            <li class="nav-item">
                              
                              <a class="nav-link " href="">Sigout</a>

                            </li>

                          </ul>

                        </aside>

                        <div class="col-md-8 col-lg-9">

                            <div class="tab-content">

                            <aside class="col col-xl-9 col-lg-8 col-md-6 col-sm-6 mb-4 mb-lg-0">

                                <div class="row w-100" style="gap: 2rem">

                                    <div class="container"  style="overflow-y: scroll; height: 300px;">

                <% if (walletData?.transaction.length >= 1) { %>

                    <table class="table table-wishlist table-mobile text-center" style="width: 920px">

                            <thead>

                                <tr>

                                <th scope="col" style="color: black;" >No</th>
                                <th scope="col" style="color: black;" >Amount</th>
                                <th scope="col" style="color: black;" >Time</th>
                                <th scope="col" style="color: black;" >Credit Or Debit</th>

                                </tr>

                            </thead>

                        <% walletData?.transaction.slice().reverse().forEach((element , index) => { %>
                                
                            <tbody>

                                <tr>
                                        <td>

                                            <%= index + 1 %>

                                        </td>

                                        <td class="text-primary">

                                           $<%= element.amount %>

                                        </td>

                                        <td>

                                            <%= element.time.toString().split(' ').slice(0,5).join('  ') %>

                                        </td>
   
                                        <td class="<%= element.creditOrDebit == 'credit' ? 'text-success' : 'text-danger'%>">
                      
                                            <%= element.creditOrDebit %>

                                        </td>

                                </tr>
                                

                            </tbody>

                        <%  }); %>

                            </table>

                <%  } else { %>

                    <p class="text-primary">Wallet Not Found</p>

                <% } %>

            </div>

                <% if(locals.walletData) {%>

                    <div class="wishlist-share">

                    <div class="social-icons social-icons-sm mb-2">

                        <label class="social-label text-primary">Total:</label>

                       <p class="text-primary ">$<%= walletData?.balance %></p>

                    </div><!-- End .soial-icons -->

                    </div>

                <% } %>
                        </div>
                    </aside>
                </div>
                

            </div>
            
</main><!-- End .main -->


<%- include('../layouts/footbar-2') %>
<!-- Connect Footer -->

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<%- include('../layouts/mobileView.ejs') %>




<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>


<%- include('../layouts/footer.ejs') %>
